{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Catégorie Abonnement {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content">

        {% include 'includes/navigation.html' %}

    

    <form action="{% url 'categorie_abonnement_page' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <h2 class="h5 mb-4"> 
                            Ajouter catégorie
                          
                         <span class="fas  fas fa-bus-alt text-twitch "></span></h2>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="first_name">Nom catégorie</label>
                                    <input  class="form-control" id="first_name" type="text"
                                    name="nom"
                                           placeholder="Entrez le nom du catégorie" value="{{categorie.nom}}"
                                           >
                                          
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                 <div class="form-group">
                                    
                  <label class="my-1 mr-2" for="payement_de">Section d'age</label>
                    
         <select name="section_age" class="form-select" id="payement_de" aria-label="Default select example" required>
                                        <option >Selectionner la section d'age</option>
                         {% for section in list_section_age %}
                            <option value="{{section.id}}">De {{section.section_age1}} à {{section.section_age2}} ans</option>
                            {% endfor %}
                        
                       </select>
                                
                                </div>
                              <!--   -->
                                
                            </div>
                        </div>
                        <div class="row ">
                            

                          <div class="col-md-12 mb-3">
                               <div>
                                    <label for="last_name">Prix catégorie</label>
                                    <input  class="form-control" id="last_name" type="number"
                                           placeholder="Prix catégorie" name="prix" value="{{categorie.prix}}"
                                           >
                                          
                                </div> 
                            </div>


                        </div>
                <div class="row ">
                            
                   <div class="col-md-12 mb-3">
                              <div class="form-group">
                                    <label for="desc_supplement"> Description catégorie</label>
                                    <textarea name="description" class="form-control" id="desc_supplement" type="textarea"
                                           placeholder="Description" value="{{categorie.description|default:'Description' }}"  > {{categorie.description|default:'Description'}}</textarea>
                                </div>
                            </div>
                           


                        </div>
                          <input type="hidden" name="id" value=" {{categorie.id}}">
                        
                         
                    
                        <div class="mt-3">
                            
                            <button type="submit" class="btn btn-twitch">Sauvgarder</button>
                    
                        </div>
                    </div>
                </div>
                  <div class="col-12 col-xl-4">
                    <div class="row">
                      
                        <div class="col-12">
                         
                                 <div class="card card-body bg-white text-center border-light shadow-sm mb-4 text-twitch ">

                                 <span  class="fas  fas fa-bus-alt fa-10x"></span>
                             
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </form>
      
        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
             <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="#">Configuration</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Liste catégorie.</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Liste catégorie</h2>
                    <p class="mb-0">Pour plus d'information cliquer sur la rubrique action.</p>
                </div>
               
            </div>
            <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                          
                            <th>Nom catégorie</th> 
                            <th>Section d'age</th> 
                            <th>Prix catégorie</th>                      
                            <th>Description</th>
                            
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                             {% for categorie in list_categorie_abonement%}
                        
                        <tr>
                      

                           
                            <td>
                                <span class="font-weight-bold text-info">{{categorie.nom}}</span>
                            </td>
                            <td>
                                <span class="font-weight-bold text-info">De {{categorie.section_age.section_age1}} à {{categorie.section_age.section_age2}} ans</span>
                            </td>
                            <td><span class="font-weight-bold text-info ">{{categorie.prix}}</span></td>            
                            <td><span class="font-weight-normal text-info">{{categorie.description|default:'Description'}}</span></td>
                         
                                  <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                         <form action="{% url 'formulaire_modifier_categorie_abonnement' %}" method="POST">
                                           {% csrf_token %}
                                           <input type="hidden" name="id" value="{{categorie.id}}">
                                        <button class="dropdown-item" type="submit"><span class="fas fa-edit mr-2"></span>Modifier</button>
                                    </form>
                                    <form action="{% url 'delete_categorie_abonnement' %}" method="POST">
                                           {% csrf_token %}
                                           <input type="hidden" name="id" value="{{categorie.id}}">
                                        <button class="dropdown-item text-danger" type="submit"><span class="fas fa-trash-alt mr-2"></span>Supprimer</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            


                          
                        </tr>
                        <!-- Item -->
                         {% endfor %}
                        

                        
                     
                        
                   
                        
                       
   
                                                  
                    </tbody>
                </table>
               
            </div>
     

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
