{% extends "layouts/base.html" %}

{% block title %} Cuisine {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main class="content">

      {% include 'includes/navigation.html' %}

      <div class="py-4">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item"><a href="{% url 'liste_stock' %}"><span class="fas fa-home"></span></a></li>
                  <li class="breadcrumb-item active" aria-current="page">gestion de cuisine</li>
              </ol>
          </nav>
          <div class="d-flex justify-content-between w-100 flex-wrap">
              <div class="mb-3 mb-lg-0">
                  <h1 class="h4">gestion de cuisine</h1>
              </div>
              <div class="row justify-content-center">
                <div class ="col-8"> 
                          
                          <form action="{% url 'liste_besoin' %}" method="POST">
                            {% csrf_token %}   
                        
                             <button  type="submit" class="btn btn-secondary  btn-sm " 
                                 aria-haspopup="true" aria-expanded="false"><span class="fas fa-store"></span>Besoin du stock</button>
                        </form>

                </div>
             
                <div class ="col-4"> 
                          
                          <form action="{% url 'ajouter_liste_achats' %}" method="POST">
                            {% csrf_token %}   
                        
                             <button  type="submit" class="btn btn-twitch btn-sm" 
                                 aria-haspopup="true" aria-expanded="false"><span class="fas fa-shopping-bag"></span>  achats</button>
                        </form>
                </div>
                
                    
              </div>
           </div>
      </div>
        <div class="table-settings mb-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-8">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" class="form-control" id="myInput" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2"
                            name="" onkeyup="searchFun()">
                        </div>
                    </div>
                </div>
        </div>
         <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0"  style="height: 30rem;">
                  <table class="table table-hover" id="myTable">
                      <thead >
                          <tr>
                              <th >date d'achats</th>
                              <th >Articls</th>
                              <th >prix</th>
                              <th >Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- Item -->
                          {% for achat in liste_stock %}
                          <tr>
                              <td >{{achat.date}}</td>
                              {% comment %} <td>{% for art in  achat.article.all %}
                                      {{art.article}}
                                  {% endfor %}</td> {% endcomment %}
                              <td>{{achat.article}}</td> 
                              <td >{{achat.prix_sortie}}</td>
                              <td>
                                 <div class="btn-group">
                                     <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         <span class="icon icon-sm">
                                                <span class="fas fa-ellipsis-h icon-dark"></span>
                                         </span>
                                         <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                     <div class="dropdown-menu">
                                                <form action="{% url 'supprimer_achats' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{achat.id}}">
                                                    <button class="dropdown-item text-danger" type="submit" ><span class="fas fa-trash-alt"></span>supprimer</button>
                                                    </form> 
                                                    <form action="{% url 'modifier_achats' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{achat.id}}">
                                                    <button class="dropdown-item text-info" type="submit" ><span class="fas fa-edit mr-2"></span>modifier</button>
                                                </form>           
                                     </div>
                                 </div>
                               </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
          </div>
  
  

      {% include 'includes/footer.html' %}

  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}
<script type="text/javascript"> 
     
    const searchFun = () =>{
        let filter = document.getElementById('myInput').value.toUpperCase();

        let myTable = document.getElementById('myTable');

        let tr = myTable.getElementsByTagName('tr');

        for(var i=0; i<tr.length; i++){
            let td = tr[i].getElementsByTagName('td')[0];
            let td1 = tr[i].getElementsByTagName('td')[1];

            if(td){

                let textvalue = td.textContent || td.innerHTML;
                let textvalue2 = td1.textContent || td1.innerHTML;

                if(textvalue.toUpperCase().indexOf(filter) > -1 || textvalue2.toUpperCase().indexOf(filter) > -1)
                {
                       tr[i].style.display = "";
                     

                }else{

                    tr[i].style.display = "none";
                }

            }

        }
    }
    document.getElementById("bs-stock").onclick = function () {
        location.href = "/besoin-stock.html";
    };
</script>


{% endblock javascripts %}
