{% extends "layouts/base.html" %}

{% block title %} Employe {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}



{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block  mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="{% url 'liste_employe' %}"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item active" aria-current="page">Liste Employes</li>
                        </ol>
                    </nav>
                     <div class="d-block">
                            <div class="h5 font-weight-normal mb-2 text-muted ">La liste de tous les employés <span class="fas fa-users"> </div>
                            <!-- <h2 class="h3 text-muted">{% now "jS F Y H:i" %}</h2> -->
                    </div>
                </div>
                <div class=" ">
                    <div class="btn-group">
                          <button id="myButton2"  type="submit" class="btn btn-secondary btn-sm" 
                        aria-haspopup="true" aria-expanded="false"> <span class="fas fa-plus "></span>Ajouter employée</button>
                     
                    
                    </div>
                </div>
            </div>
            <div class="table-settings mb-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col col-md-6 col-lg-3 col-xl-8">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" class="form-control" id="myInput" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2"
                            name="" onkeyup="searchFun()">
                        </div>
                    </div>
                  <!--   <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                       
                        <button id="myButton"  type="submit" class="btn btn-info mr-2 dropdown-toggle" 
                        aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-plus mr-2"></span>New
                </button>

                    </div> -->

                </div>
            </div>
          <!--   <div class="table-settings mb-4">
                  <div class="btn-group">
                 
        <a  class="btn btn-sm btn btn-outline-success" href="{% url 'list_employe_present' %}">Present</a>
                        
        <a class="btn btn-sm btn-outline-danger" href="{% url 'list_employe_absent' %}">Absent</a>
                       

                    
                </div>
            </div> -->
            <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0"  style="height: 30rem;">
            <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            

                            <th ><span class="h6 font-weight-bold">Date de création</span></th>
                                        <th ><span class="h6 font-weight-bold">Nom<span></span></th>
                                        <th><span class="h6 font-weight-bold">Prénom</span></th>
                                        <th><span class="h6 font-weight-bold">Fonction</span></th>
                                        <th><span class="h6 font-weight-bold">Salaire</span></th>

                                    
                                        <th><span class="h6 font-weight-bold">Action<span></span></th>

                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Item -->
                        
                        {% for employe in list_employee %}


                               <tr>
                                        <td>{{employe.created_at|date:"D d M Y"}}</td>
                                        <td> <span class="font-weight-bold text-info">{{employe.nom}}</span></td>
                                        <td> <span class="font-weight-bold text-info">{{employe.prenom}} </span></td>
                                        
                                        <td><span class="font-weight-bold text-info"> {{employe.fonction}}</span></td>
                                        <td><span class="font-weight-bold text-info">{% if employe.salaire != 0 %} {{employe.salaire}}{% endif %} </span></td>
                                   <td>
                                 <div class="btn-group">
              <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <span class="icon icon-sm">
                    <span class="fas fa-ellipsis-h icon-dark"></span>
                                                        </span>
                       <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                              <div class="dropdown-menu">

                              <form action="{% url 'modifier_employe' %}" method="POST">
                                                        {% csrf_token %}

                                    <input type="hidden" name="id" value="{{employe.id}}">
                                        <button class="dropdown-item " type="submit" ><span class="fas fa-edit mr-2"></span>Afficher / modifier</button>

                                   </form> 
                                  <form action="{% url 'supprimer_employe' %}" method="POST">
                                      {% csrf_token %}
                                      <input type="hidden" name="employe" value="{{employe.id}}">
                                     <button class="dropdown-item text-danger" type="submit" ><span class="fas fa-trash-alt"></span>Supprimer</button>
                                           </form>
                                             <form  action="liste_factures_employe" method="POST">
                                            {% csrf_token %}
                                    <input type="hidden" name="employe" value="{{employe.id}}">
                                    <button class="dropdown-item text-info" type="submit"><span class="fas fa-file-invoice-dollar mr-2"></span>Facture</button>
                                        
                                        </form>
                                        <form action="{% url 'pointage_employe' %}" method="POST">
                                                        {% csrf_token %}
                                                            <input type="hidden" name="employe" value="{{employe.id}}">
                                                            <button class="dropdown-item text-success" type="submit" ><span class="far fa-hand-pointer"></span>Liste poitage</button>
                                                        </form> 
                                                                                                        
                                                    </div>
                                                </div>
                                         </td>
           

                       
                          
                        </tr>
                        <!-- Item -->
                         {% endfor %}
                        
   
                                                  
                    </tbody>
                </table>
               
            </div>

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}




<script type="text/javascript">
    const searchFun = () =>{
        let filter = document.getElementById('myInput').value.toUpperCase();

        let myTable = document.getElementById('myTable');

        let tr = myTable.getElementsByTagName('tr');

        for(var i=0; i<tr.length; i++){
            let td = tr[i].getElementsByTagName('td')[1];

            if(td){

                let textvalue = td.textContent || td.innerHTML;

                if(textvalue.toUpperCase().indexOf(filter) > -1)
                {
                       tr[i].style.display = "";
                     

                }else{

                    tr[i].style.display = "none";
                }

            }

        }



    }

     document.getElementById("myButton2").onclick = function () {
        location.href = "/ajouter-employee.html";
    };

  
</script>

{% endblock javascripts %}
