{% extends "layouts/base.html" %}

{% block title %} Patient {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}



{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                          <li class="breadcrumb-item"><a href="{% url 'liste_depenses' %}"><span class="fas fa-home"></span></a></li>
                          <li class="breadcrumb-item"><a href="{% url 'liste_depenses' %}">depense</a></li>
                          <li class="breadcrumb-item active" aria-current="page">modifier depense</li>
                        </ol>
                    </nav>
                      </div>
            </div>

            <form action="{% url 'valider_modifier_depense' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <h2 class="h5 mb-4"> 
                            Modifier Depense
                          
                         <span class="fas  fas fa-comments-dollar text-twitch "></span></h2>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="depense">type depense</label>
                                    <select class="form-select"  name = "depense" id="depense" aria-label="Default select example"  >
                                                <option value ="">type de depense </option>
                                                {% for depenses in liste_depense %}
                                                {% if depenses.nom == depense.raison_payement %}
                                                <option value="{{depenses.nom}}" selected>{{depenses.nom}}</option>
                                                 {% else %}
                                                 <option value="{{depenses.nom}}">{{depenses.nom}}</option>
                                                 {% endif %}
                                                {% endfor %}
                                    </select>  
                                    
                                          
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="prix">Prix </label>
                                    <input  class="form-control" id="prix" type="number"
                                           placeholder="Prix supplement" name="prix" min="0" value ="{{depense.prix_sortie}}">
                                          
                                </div>
                                
                            </div>
                        </div>
                        <div class="row "> 
                            <div class="mt-3">
                                <input type="hidden" name="id" value="{{depense.id}}">
                               <button type="submit" class="btn btn-twitch">Sauvgarder</button>
                            </div>
                        </div>
                </div>
                </div>
                  <div class="col-12 col-xl-4">
                    <div class="row">
                      
                        <div class="col-12">
                         
                                 <div class="card card-body bg-white text-center border-light shadow-sm mb-4 text-twitch ">

                                 <span  class="fas  fas fa-comments-dollar fa-10x"></span>
                             
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </form>
           
           
            
               

        {% include 'includes/footer.html' %}

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}




<script type="text/javascript">
    const searchFun = () =>{
        let filter = document.getElementById('myInput').value.toUpperCase();

        let myTable = document.getElementById('myTable');

        let tr = myTable.getElementsByTagName('tr');

        for(var i=0; i<tr.length; i++){
            let td = tr[i].getElementsByTagName('td')[0];

            if(td){

                let textvalue = td.textContent || td.innerHTML;

                if(textvalue.toUpperCase().indexOf(filter) > -1)
                {
                       tr[i].style.display = "";
                     

                }else{

                    tr[i].style.display = "none";
                }

            }

        }



    }

     document.getElementById("myButton2").onclick = function () {
        location.href = "/ajouter-employee.html";
    };

  
</script>

{% endblock javascripts %}
